* {
    box-sizing: border box;
}
body {
    margin: 0 5% 0 5%;
    background-color: pink;
}
a {
    text-decoration: none;
    color: #ffffff;
}
#container {
}
#submit-btn{
display: block;
margin-top: 20px;
background-color: rgb(118,193,110);
box-shadow: 0 0 7px #333;
}
button{
border-radius: 4px;
font-weight: 750;
margin-top: 20px;
margin-bottom: 20px;
letter-spacing: 1px;
padding: 4px 11px 4px 11px;
background-color: rgb(96,92,171);
color: #ffffff;
border: none;
vertical-align: middle;
}
#snack-flexbox-sweets {
display: none;
flex-wrap: wrap;
}
#snack-flexbox-savory {
display: none;
flex-wrap: wrap;
}
#snack-flexbox-chips {
display: none;
flex-wrap: wrap;
}
#snack-flexbox-bars {
display: none;
flex-wrap: wrap;
}
#snack-flexbox-breads {
display: none;
flex-wrap: wrap;
}
.snack-item {
flex: 1;
padding: 10px;
}
.close-section{
    flex: 1;
    padding: 10px;
}
.snack-h3 {
padding: 10px;
}
.snack-image {
max-width: 250px;
max-height: 100%;
}
.class1 {
border: none;
}
.class2 {
border: 2px solid green;
}
.more-snacks{
display: block;
}